.main-link {
  border-bottom: none;
  color: #fff;
  display: block;
  flex: auto;
  font-size: 3em;
  font-weight: 700;
  padding: 30px 50px;
  text-decoration: none;
  transition: color 0.5s;
  width: 100%;
  z-index: 2;
}

.main-link:active, .main-link:visited, .main-link:link, .main-link:focus, .main-link:active {
  color: #fff;
}

.main-link-bg {
  background-color: #000;
  display: flex;
  flex: auto;
  flex-direction: column;
  position: relative;
}

.main-link-bg:hover {
  cursor: pointer;
}

.main-link-bg:hover > .main-link {
  border-bottom: none;
  color: #000;
}

.main-bg-slider {
  background-color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.5s;
  width: 0;
  z-index: 1;
}

.main-link-bg:hover > .main-bg-slider {
  width: 100%;
}

@media (max-width: 600px) {
  .main-link {
      font-size: 2em;
      padding-left: 10px;
  }
}
