.blogPost {
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  border-radius: var(--radius);
  margin-bottom: var(--spacing-large);
  padding: var(--spacing-small) var(--spacing-large);
}

.blogPost:last-child {
  margin-bottom: 0;
}

.postTitle {
  margin-bottom: 0;
}

.postDate {
  color: var(--black-70);
  font-size: var(--text-medium);
  display: block;
}
