---
import type { CollectionEntry } from 'astro:content';
import ArchiveItem from './ArchiveItem.astro';

export interface Props {
  posts: CollectionEntry<'posts'>[];
  year: string;
}
const { year, posts } = Astro.props;
---

<div class="mb-6 last:mb-0">
  <h4 class="font-bold">{year}</h4>

  <ul class="list-disc pl-8 mt-2">
    {[...posts].reverse().map((post) => <ArchiveItem post={post} />)}
  </ul>
</div>
