---
import type { CollectionEntry } from 'astro:content';
import Link from '../Link.astro';
import Tag from '../Tag.astro';
import { formatPostDate } from '../../utils';

export interface Props {
  post: CollectionEntry<'posts'>;
}
const { post } = Astro.props;
---

<li class="mt-2 first:mt-0">
  <p>
    <Link to={`/posts/${post.slug}`}>
      {post.data.title}
    </Link>
    —
    <span class="text-xs">{formatPostDate(post.data.date)}</span>
  </p>
  <div class="flex flex-row flex-wrap">
    {post.data.tags.map((tag) => <Tag tag={tag} />)}
  </div>
</li>
