---
import H1 from '../../components/typography/H1.astro';
import P from '../../components/typography/P.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Success!">
  <H1>Success!</H1>
  <P>
    You have successfully submitted a contact request! Thank you for reaching out, I will respond as soon as possible.
  </P>
</Layout>
