---
import H1 from '../components/typography/H1.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Not found">
  <H1>
    404: Not found <span role="img" aria-label="sad face"> 😞</span>
  </H1>
  <p>Sadly, this page does not exist...</p>
</Layout>
