---
import Layout from '../layouts/Layout.astro';
---

<Layout title="adventurer & developer">
  <h1 class="text-4xl mb-4 font-bold">Hi, I'm Jeremy 👋</h1>
  <h4 class="italic text-gray-600 text-xl -mt-4">
    But most call me Keeler
  </h4>
</Layout>
