---
import { Image } from '@astrojs/image/components';

import AboutPhoto from '../assets/about.jpg';
import H1 from '../components/typography/H1.astro';
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
import Projects from '../components/Projects.astro';
import RecentPosts from '../components/posts/RecentPosts.astro';
import Resume from '../components/Resume.astro';
---

<Layout title="adventurer, developer">
  <div class="mb-2">
    <H1>Hi, I'm Jeremy 👋</H1>
    <h4 class="italic text-gray-600 text-xl -mt-4">But most call me Keeler</h4>
  </div>

  <div class="flex items-center flex-col sm:flex-row">
    <Image src={AboutPhoto} alt="Picture of Jeremy's face" width={400} height={400} class="rounded-full w-40 h-40" />
    <p class="pl-0 mt-2 sm:mt-0 sm:pl-6">
      Delawarean by birth, Pennsylvanian by residence, and nomad at heart. Software engineer by trade at
      <Link to="https://affirm.com">Affirm</Link>. Runner, hiker, camper, and backpacker. Fan of video
      games, tech enthusiast, and fledgling gardener.
    </p>
  </div>

  <RecentPosts />
  <Projects />
  <Resume />
</Layout>
