---
import H1 from '../components/typography/H1.astro';
import H3 from '../components/typography/H3.astro';
import P from '../components/typography/P.astro';
import Link from '../components/Link.astro';
import List from '../components/typography/List.astro';
import ListItem from '../components/typography/ListItem.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="now"
  description="Keeler's now page. What he's currently reading, playing, and listening to. Life updates."
>
  <H1>Now</H1>

  <H3>Life...</H3>
  <P>
    Running regularly. Playing Ultimate Frisbee in a recreational league twice a week. Attempting to landscape around my
    new house and attempting to create cute flowerbeds. Also attempting to become an amateaur photographer using just my
    iPhone.
  </P>

  <H3>Work...</H3>
  <P>
    Working as a software engineer again at <Link to="https://affirm.com">Affirm</Link>. Currently playing the role of
    an interim engineering manager.
  </P>

  <H3>Music...</H3>
  <List>
    <ListItem>
      <Link to="https://open.spotify.com/artist/7pXu47GoqSYRajmBCjxdD6?si=MJr6zgiHQI2HD4Idst3D7A">vulfpeck</Link>
    </ListItem>
    <ListItem>
      <Link to="https://open.spotify.com/artist/0NB5HROxc8dDBXpkIi1v3d">Remi Wolf</Link>
    </ListItem>
  </List>

  <H3>Reading...</H3>
  <P>
    I'm currently reading
    <Link
      to="https://www.amazon.com/Wool-Hugh-Howey-ebook/dp/B088SY4GSD/ref=sr_1_2?crid=1YI7SD4RJZFO&keywords=the+silo&qid=1687108376&sprefix=the+silo+%2Caps%2C85&sr=8-2"
    >
      The Silo Series
    </Link>
    by Hugh Howey.
  </P>

  <H3>Games...</H3>
  <List>
    <ListItem>
      <Link to="https://zelda.com/tears-of-the-kingdom/">Zelda: Tears of the Kingdom</Link>
    </ListItem>
    <ListItem>
      <Link to="https://store.steampowered.com/app/813780/Age_of_Empires_II_Definitive_Edition/">
        Age of Empires II: DE
      </Link>
    </ListItem>
  </List>

  <p class="text-sm pt-8 pb-4">
    What is a <Link to="https://nownownow.com/about">now page</Link>?
  </p>
</Layout>
