---
import H1 from '../components/typography/H1.astro';
import H3 from '../components/typography/H3.astro';
import P from '../components/typography/P.astro';
import Link from '../components/Link.astro';
import List from '../components/typography/List.astro';
import ListItem from '../components/typography/ListItem.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="now"
  description="Keeler's now page. What he's currently reading, playing, and listening to. Life updates."
>
  <H1>Now</H1>

  <H3>Life...</H3>
  <P>
    Running and cycling regularly, Playing Ultimate Frisbee in a recreational league once a week. Spending a time with
    our dogs, BB and Arya! Learning how to play finger picking style on the ukulele.
  </P>

  <H3>Music...</H3>
  <List>
    <ListItem>
      <Link to="https://open.spotify.com/artist/41MozSoPIsD1dJM0CLPjZF?si=895546e6f72c4193">Blackpink</Link>,
    </ListItem>
    <ListItem>
      <Link to="https://open.spotify.com/artist/3c0gDdb9lhnHGFtP4prQpn?si=5245aca91f06439f">Katseye</Link>
    </ListItem>
    <ListItem>
      <Link to="https://open.spotify.com/artist/3eVa5w3URK5duf6eyVDbu9?si=b1389133b4df40eb">Rosé</Link>
    </ListItem>
  </List>

  <H3>Reading...</H3>
  <!-- <P>Not really reading 🫠</P> -->
  <List>
    <ListItem>
      <Link to="https://en.wikipedia.org/wiki/A_Walk_in_the_Woods_(book)">A Walk in the Woods by Bill Bryson</Link>
    </ListItem>
    <ListItem>
      <Link to="https://www.amazon.com/Designing-Data-Intensive-Applications-Reliable-Maintainable/dp/1449373321">
        Designing Data Intensive Applications by Martin Kleppmann
      </Link>
    </ListItem>
  </List>

  <H3>Games...</H3>
  <!-- <P>Not really gaming 🫠</P> -->
  <List>
    <ListItem>
      <Link to="https://store.steampowered.com/app/1934680/Age_of_Mythology_Retold/">Age of Mythology: Retold</Link>
    </ListItem>
    <ListItem>
      <Link to="https://store.steampowered.com/app/1569580/Blue_Prince/">Blue Prince</Link>
    </ListItem>
  </List>

  <H3>Work...</H3>
  <P>
    Working as a Staff Software Engineer at <Link to="https://affirm.com">Affirm</Link>.
  </P>

  <p class="text-sm pt-8 pb-4">
    What is a <Link to="https://nownownow.com/about">now page</Link>?
  </p>
</Layout>
