---
import H1 from '../components/typography/H1.astro';
import H3 from '../components/typography/H3.astro';
import P from '../components/typography/P.astro';
import Link from '../components/Link.astro';
import List from '../components/typography/List.astro';
import ListItem from '../components/typography/ListItem.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="now"
  description="Keeler's now page. What he's currently reading, playing, and listening to. Life updates."
>
  <H1>Now</H1>

  <H3>Life...</H3>
  <P>
    Running regularly, training for a marathon in December! Playing Ultimate Frisbee in a recreational league once a
    week. Spending a BUNCH of time training and looking after my now 8 month old puppy!
  </P>

  <P>
    Also, I bought a boat! Needs some work, but planning on doing lots of sailing! I'm getting into photography as well!
  </P>

  <H3>Music...</H3>
  <List>
    <ListItem>
      <Link to="https://open.spotify.com/artist/7gW0r5CkdEUMm42w9XpyZO?si=79439e283c8e44bd">Laufey</Link>
    </ListItem>
    <ListItem>
      <Link to="https://open.spotify.com/artist/7pXu47GoqSYRajmBCjxdD6?si=MJr6zgiHQI2HD4Idst3D7A">vulfpeck</Link>
    </ListItem>
  </List>

  <H3>Reading...</H3>
  <P>Not really reading 🫠</P>

  <H3>Games...</H3>
  <P>Not really gaming 🫠</P>
  <!-- <List>
    <ListItem>Not really gaming 🫠</ListItem>
  </List> -->

  <H3>Work...</H3>
  <P>
    Working as an Engineering Manager again at <Link to="https://affirm.com">Affirm</Link>.
  </P>

  <p class="text-sm pt-8 pb-4">
    What is a <Link to="https://nownownow.com/about">now page</Link>?
  </p>
</Layout>
