---
import FooterItemSeparator from './FooterItemSeparator.astro';
import Github from './icons/Github.astro';
import HR from './typography/HR.astro';
import IconLink from './IconLink.astro';
import Linkedin from './icons/Linkedin.astro';

const MONTHS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
const currentDate = new Date();
---

<HR />

<p class="text-center">
  © Jeremy Keeler 2018&ndash;<span id="currentYear">{currentDate.getFullYear()}</span> &mdash; Updated:
  {`${MONTHS[currentDate.getUTCMonth()]} ${currentDate.getUTCDate()}, ${currentDate.getUTCFullYear()}`}
</p>

<div class="flex justify-center mt-2">
  <div>
    <IconLink to="https://github.com/jerkeeler" ariaLabel="Link to Keeler's GitHub"><Github /></IconLink>
  </div>
  <FooterItemSeparator />
  <div>
    <IconLink to="https://www.linkedin.com/in/jeremy-keeler-74567891/" ariaLabel="Link to Keeler's LinkedIn">
      <Linkedin />
    </IconLink>
  </div>
</div>

<p class="text-xs text-center py-4">
  All opinions on this website are mine and mine alone. They do not reflect the opinions of my employers or my
  colleagues.
</p>

<script type="application/javascript">
  const el = document.getElementById('currentYear');
  el.innerHTML = new Date().getFullYear();
</script>
