.layout-container {
  display: flex;
  flex-flow: row-reverse nowrap;
  padding: 30px;
}

.main-content {
  flex: 4 1 auto;
  padding-right: 220px;
}

@media(max-width: 1024px) {  /* var(--tablet) */
  .layout-container {
      flex-direction: column;
  }

  .main-content {
      padding: 0;
  }
}

.navbar-content {
  flex: auto;
  padding-left: 10px;
  position: fixed;
  width: 200px;
}

@media(max-width: 1024px) {  /* var(--tablet) */
  .navbar-content {
      padding-left: 0;
      position: relative;
      width: 100%;
  }
}
