.nav-list {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.nav-item {
  margin-bottom: 7px;
}

@media(max-width: 900px) {
  .nav-list {
      margin-bottom: 20px;
      padding: 0;
  }

  .nav-item {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 8px;
  }

  .nav-item:last-child {
      margin-right: 0;
  }
}
