---
import classnames from 'classnames';

function stringToHash(inputStr: string): number {
  // No cryptographic hash function to generate pesudo-random reproducible number
  // from an arbitrary string
  // Adapted from https://stackoverflow.com/questions/7616461/generate-a-hash-from-string-in-javascript
  let hash = 0;

  if (inputStr.length === 0) return hash;

  for (let i = 0; i < inputStr.length; i++) {
    const char = inputStr.charCodeAt(i);
    hash = (hash << 5) - hash + char;
    hash = hash & hash;
  }

  return Math.abs(hash);
}

const bgClasses = [
  ['bg-green-200', 'hover:bg-green-300', 'dark:bg-green-800', 'dark:hover:bg-green-700'],
  ['bg-red-200', 'hover:bg-red-300', 'dark:bg-red-800', 'dark:hover:bg-red-700'],
  ['bg-orange-200', 'hover:bg-orange-300', 'dark:bg-orange-800', 'dark:hover:bg-orange-700'],
  ['bg-blue-200', 'hover:bg-blue-300', 'dark:bg-blue-800', 'dark:hover:bg-blue-700'],
  ['bg-lime-200', 'hover:bg-lime-300', 'dark:bg-lime-800', 'dark:hover:bg-lime-700'],
  ['bg-cyan-200', 'hover:bg-cyan-300', 'dark:bg-cyan-800', 'dark:hover:bg-cyan-700'],
  ['bg-violet-200', 'hover:bg-violet-300', 'dark:bg-violet-800', 'dark:hover:bg-violet-700'],
  ['bg-rose-200', 'hover:bg-rose-300', 'dark:bg-rose-800', 'dark:hover:bg-rose-700'],
];

export interface Props {
  tag: string;
}
const { tag } = Astro.props;

const hash = stringToHash(tag);
const colors = bgClasses[hash % bgClasses.length];
---

<a
  href={`/tags/${tag}`}
  class={classnames('text-xs', 'mr-2', 'first:ml-0', 'mt-1', 'py-1', 'px-2', 'rounded', ...colors)}
>
  #{tag}
</a>
