.tags {
  margin: 0;
  line-height: 0.7;
}

.tag {
  font-size: var(--text-small);
}

.postList {
  margin-bottom: var(--spacing-small);
}

.postList:last-child {
  margin-bottom: 0;
}

.link {
  font-size: var(--text-medium);
}
